​
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: darkcyan;
    align-items: center;
}
h1 {
    color: rgb(2, 17, 24);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    padding: 12px;
    font-size: 36px;
}